{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
	<h1>Dashboard</h1>

	<a class="btn btn-primary" href="{{ url('dispatch') }}">Fetch all listings now!</a>

	<div class="float-end">
			{{ form_start(form) }}
		<div class="row row-cols-lg-auto g-3 align-items-center">
			<div class="col">{{ form_widget(form.willhabenId) }}</div>
			<div class="col">{{ form_widget(form.submit) }}</div>
		</div>
			{{ form_end(form) }}
	</div>

	{% if showAll %}
		<h2>{{ listings|length }} Listings total</h2>
	{% else %}
		<h2>{{ listings|length }} Listings seen from {{ from|format_date }} to {{ to|format_date }}</h2>
	{% endif %}

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link {{ not showAll and not sortBySale and not sortByFirstSeen ? 'active' : '' }}" href="{{ path('dashboard', {showAll: false, sortBySale: false}) }}">Letztes Monat by Datum</a>
		</li>
		<li class="nav-item active">
			<a class="nav-link {{ not showAll and sortBySale ? 'active' : '' }}" href="{{ path('dashboard', {showAll: false, sortBySale: true}) }}">Letztes Monat By Sale</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {{ showAll and  not sortBySale ? 'active' : '' }}" href="{{ path('dashboard', {showAll: true, sortBySale: false}) }}">Alle by Datum</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {{ showAll and sortBySale ? 'active' : '' }}" href="{{ path('dashboard', {showAll: true, sortBySale: true}) }}">Alle By Sale</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {{ showFresh and sortByFirstSeen ? 'active' : '' }}" href="{{ path('dashboard', {showFresh: true, sortByFirstSeen: true}) }}">Oldies</a>
		</li>
	</ul>

	<table class="table table">
		<thead>
		<tr>
			<th>Title</th>
			<th>m²</th>
			<th>€ current</th>
			<th>% Sale</th>
			<th>€/m² current</th>
			<th>€ Max</th>
			<th>€ Min</th>
			<th>€/m² max</th>
			<th>€/m² min</th>
			<th>First seen</th>
			<th>Last seen</th>
			<th>Age</th>
			<th>Pics</th>
		</tr>
		</thead>
		<tbody>
		{% for listing in listings %}
		<tr>
			<td>
				<a href="{{ url('details', {id: listing.id}) }}">
					{{ listing.title }}
				</a>
			</td>
			<td>{{ listing.area is null ? '?' : listing.area|format_number }}</td>
			<td>{{ listing.priceCurrent is null ? '?' : listing.priceCurrent|format_number }}</td>
			<td>
				{% set diff = listing.getSaleReduction %}
				{% if listing.priceCurrent < listing.priceMax %}
					<span class="badge bg-success">-{{ diff|format_number({fraction_digit:0}) }}%</span>
				{% elseif listing.priceCurrent > listing.priceMax %}
					<span class="badge bg-danger">+{{ diff|format_number({fraction_digit:0}) }}%</span>
				{% else %}
					<span class="badge bg-secondary">{{ diff|format_number({fraction_digit:0}) }}%</span>
				{% endif %}
			</td>
			<td>{{ listing.priceCurrentPerSqm is null ? '?' : listing.priceCurrentPerSqm|format_number }}</td>
			<td>{{ listing.priceMax is null ? '?' : listing.priceMax|format_number }}</td>
			<td>{{ listing.priceMin is null ? '?' : listing.priceMin|format_number }}</td>
			<td>{{ listing.area ? (listing.priceMax/listing.area)|format_number({fraction_digit: 0}) : '?' }}</td>
			<td>{{ listing.area ? (listing.priceMin/listing.area)|format_number({fraction_digit: 0}) : '?' }}</td>
			<td>{{ listing.firstSeen|date('d.m.Y H:i:s') }}</td>
			<td>{{ listing.lastSeen|date('d.m.Y H:i:s') }}</td>
			<td>{{ listing.ageInWeeks }} Wochen</td>
			<td>
				<img alt="{{ listing.titleImage }}" src="{{ asset('willhaben_images/'~listing.titleImage) }}" style="max-width: 100px" loading="lazy" />
			</td>
		</tr>
		</tbody>
		{% endfor %}
	</table>

{% endblock %}