{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
	<h1>Dashboard</h1>

	<a class="btn btn-primary" href="{{ url('dispatch') }}">Fetch all listings now!</a>

	<h2>{{ listings|length }} Listings</h2>

	<table class="table table">
		<thead>
		<tr>
			<th>Title</th>
			<th>Preis Max</th>
			<th>Preis Min</th>
			<th>€/m²</th>
			<th>First seen</th>
			<th>Last seen</th>
			<th>Pics</th>
		</tr>
		</thead>
		<tbody>
		{% for listing in listings %}
		<tr>
			<td>
				<a href="{{ url('details', {id: listing.id}) }}">
					{{ listing.title }}
				</a>
			</td>
			<td>{{ listing.maxPrice|format_number }}</td>
			<td>{{ listing.minPrice|format_number }}</td>
			<td>{{ listing.currentListingData.pricePerSqm|format_number({fraction_digit: 0}) }}</td>
			<td>{{ listing.firstSeen|date('d.m.Y H:i:s') }}</td>
			<td>{{ listing.lastSeen|date('d.m.Y H:i:s') }}</td>
			<td>
				<img alt="{{ listing.titleImage }}" src="{{ asset('willhaben_images/'~listing.titleImage) }}" style="max-width: 100px" loading="lazy" />
			</td>
		</tr>
		</tbody>
		{% endfor %}
	</table>

{% endblock %}