{% extends 'base.html.twig' %}

{% block content %}

	<a class="btn btn-outline-secondary" href="{{ path('dashboard') }}">Zurück</a>

	<h1>{{ listing.title }}</h1>

	<span class="badge bg-danger">{{ listing.priceMax|format_number }} € max</span>
	<span class="badge bg-success">{{ listing.priceMin|format_number }} € min</span>
	<span class="badge bg-secondary">{{ listing.area is null ? '?' : listing.area|format_number }} m²</span>
	<span class="badge bg-secondary">{{ listing.priceCurrent is null ? '?' : listing.priceCurrent|format_number }} € aktuell</span>
	<span class="badge bg-secondary">{{ (listing.area and listing.priceCurrent) ? (listing.priceCurrent/listing.area)|format_number({fraction_digit: 0}) : '?' }} €/m²</span>
	<span class="badge bg-secondary">First seen {{ listing.firstSeen|date('d.m.Y H:i:s') }}</span>
	<span class="badge bg-secondary">Last seen {{ listing.lastSeen|date('d.m.Y H:i:s') }}</span>

	<a class="btn btn-primary"
	   href="https://www.willhaben.at/iad/immobilien/d/haus-kaufen/steiermark/xxx-{{ listing.willhabenId }}/"
	   target="_blank">
		Willhaben öffnen
	</a>


	<h1>Fotos <a href="{{ path('fetch-images', {id: listing.id}) }}" class="btn btn-outline-primary btn-sm"><i class="fas fa-refresh"></i></a></h1>
	<div>
		{% for image in listing.currentListingData.images %}
			<img alt="{{ image }}" src="{{ asset('willhaben_images/'~image) }}" style="max-width: 100px" loading="lazy" />
		{% endfor %}
	</div>

	<h1>Preisverlauf</h1>
	<div id="price-chart"></div>


	<h1>Historische Daten</h1>
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-2">
					<div style="max-height: 90vh; overflow: scroll; position: sticky; top: 1em">
						<div class="nav flex-column nav-pills me-3" id="mytabs" role="tablist" aria-orientation="vertical" >
							{% for key, data in listing.listingData %}
								<button class="nav-link {{ key == 0 ? 'active' : '' }}" data-bs-toggle="pill" data-bs-target="#listings-tab-{{ key }}" type="button" role="tab">{{ data.createdAt|date }}</button>
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="col-10">
					<div class="tab-content" id="v-pills-tabContent">
						{% for key, data in listing.listingData %}
							<div class="tab-pane fade {{ key == 0 ? 'show active' : '' }}" id="listings-tab-{{ key }}" role="tabpanel">

								<span class="badge bg-secondary">{{ data.price|format_number }} €</span>
								<span class="badge bg-secondary">{{ data.rooms }} Zimmer</span>
								<span class="badge bg-secondary">{{ data.livingSize }} m² Wohnfläche</span>
								<span class="badge bg-secondary">{{ data.pricePerSqm|format_number }} €/m²</span>
								<span class="badge bg-secondary">{{ data.freeArea }} m² {{ data.freeAreaType }}</span>

								<br>
								<br>

								<table class="table table-bordered" style="word-break: break-all;">
									{% for attr in data.data.attributes.attribute %}
										<tr>
											<td style="width: 300px">{{ attr.name }}</td>
											<td>{{ attr.values|json_encode }}</td>
										</tr>
									{% endfor %}
								</table>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	{% set firstSeen = listing.firstSeen.timestamp %}
	{% set lastSeen = listing.lastSeen.timestamp %}

	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script>
		const bsTab = new bootstrap.Tab('#mytabs');

		let options = {
			series: [
				{
					name: "Preise",
					data: [
						{% for data in listing.listingData %}
							[{{ data.createdAt.timestamp * 1000 }}, {{ data.price }}],
						{% endfor %}
					]
				},
			],
			chart: {
				height: 350,
				type: 'line',
				dropShadow: {
					enabled: true,
					color: '#000',
					top: 18,
					left: 7,
					blur: 10,
					opacity: 0.2
				},
				zoom: {
					enabled: false
				},
				toolbar: {
					show: false
				}
			},
			tooltip: {
				x: {
					format: 'dd MMMM yyyy'
				}
			},
			colors: ['#77B6EA', '#545454'],
			stroke: {
				curve: 'smooth'
			},
			grid: {
				borderColor: '#e7e7e7',
				row: {
					colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
					opacity: 0.5
				},
			},
			markers: {
				size: 1
			},
			xaxis: {
				title: {
					text: 'Datum'
				},
				type: 'datetime',
				min: {{ (firstSeen - (60*60*24*30))*1000 }},
				max: {{ (lastSeen + (60*60*24*30))*1000 }},
				tickAmount: 6,
			},
			yaxis: {
				title: {
					text: 'Preis'
				},
			},
			legend: {
				position: 'top',
				horizontalAlign: 'right',
				floating: true,
				offsetY: -25,
				offsetX: -5
			}
		};

		(new ApexCharts(document.querySelector("#price-chart"), options)).render();
	</script>

{% endblock %}