{% extends 'base.html.twig' %}

{% block content %}

	<a class="btn btn-outline-secondary" href="{{ path('dashboard') }}">Zurück</a>

	<h1>
		<a href="{{ path('star_listing', {id: listing.id}) }}"><i class="{{ listing.starred ? 'fas' : 'far' }} fa-star"></i></a>
		{{ listing.title }}
	</h1>

	<span class="badge bg-danger">{{ listing.priceMax|format_number }} € max</span>
	<span class="badge bg-success">{{ listing.priceMin|format_number }} € min</span>
	<span class="badge bg-secondary">{{ listing.area is null ? '?' : listing.area|format_number }} m²</span>
	<span class="badge bg-secondary">{{ listing.priceCurrent is null ? '?' : listing.priceCurrent|format_number }} € aktuell</span>
	<span class="badge bg-secondary">{{ (listing.area and listing.priceCurrent) ? (listing.priceCurrent/listing.area)|format_number({fraction_digit: 0}) : '?' }} €/m²</span>
	<span class="badge bg-secondary">First seen {{ listing.firstSeen|date('d.m.Y H:i:s') }}</span>
	<span class="badge bg-secondary">Last seen {{ listing.lastSeen|date('d.m.Y H:i:s') }}</span>

	<a class="btn btn-primary"
	   href="https://www.willhaben.at/iad/immobilien/d/haus-kaufen/steiermark/xxx-{{ listing.willhabenId }}/"
	   target="_blank">
		Willhaben öffnen
	</a>

	<div class="row">
		<div class="col">
			<h1>Fotos <a href="{{ path('fetch-images', {id: listing.id}) }}" class="btn btn-outline-primary btn-sm"><i class="fas fa-refresh"></i></a></h1>
			<div>
				{% for image in listing.currentListingData.images %}
					<img alt="{{ image }}" src="{{ asset('willhaben_images/'~image) }}" style="max-width: 100px" loading="lazy" />
				{% endfor %}
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-3">

			<canvas id="price-chart-js"></canvas>
		</div>
	</div>

	<h1>Preispositionierung</h1>
	<div class="card">
		<div class="card-body">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#chartOneMonth" type="button">Letztes Monat</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" data-bs-toggle="tab" data-bs-target="#chartSixMonth" type="button">Letzte 6 Monate</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" data-bs-toggle="tab" data-bs-target="#chartAll" type="button">Alle</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent" style="height: 400px">
				<div class="tab-pane show active" id="chartOneMonth">
					{{ render(controller(
						'App\\Controller\\ListingsController::scatterChart', {listing: listing, maxMonths: 1}
					)) }}
				</div>
				<div class="tab-pane" id="chartSixMonth">
					{{ render(controller(
						'App\\Controller\\ListingsController::scatterChart', {listing: listing, maxMonths: 6}
					)) }}
				</div>
				<div class="tab-pane " id="chartAll">
					{{ render(controller(
						'App\\Controller\\ListingsController::scatterChart', {listing: listing}
					)) }}
				</div>
			</div>
		</div>
	</div>



	<h1>Historische Daten</h1>
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-2">
					<div style="max-height: 90vh; overflow: scroll; position: sticky; top: 1em">
						<div class="nav flex-column nav-pills me-3" id="mytabs" role="tablist" aria-orientation="vertical" >
							{% for key, data in listing.listingData %}
								<button class="nav-link {{ key == 0 ? 'active' : '' }}" data-bs-toggle="pill" data-bs-target="#listings-tab-{{ key }}" type="button" role="tab">{{ data.createdAt|date }}</button>
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="col-10">
					<div class="tab-content" id="v-pills-tabContent">
						{% for key, data in listing.listingData %}
							<div class="tab-pane fade {{ key == 0 ? 'show active' : '' }}" id="listings-tab-{{ key }}" role="tabpanel">

								<span class="badge bg-secondary">{{ data.price|format_number }} €</span>
								<span class="badge bg-secondary">{{ data.rooms }} Zimmer</span>
								<span class="badge bg-secondary">{{ data.livingSize }} m² Wohnfläche</span>
								<span class="badge bg-secondary">{{ data.pricePerSqm|format_number }} €/m²</span>
								<span class="badge bg-secondary">{{ data.freeArea }} m² {{ data.freeAreaType }}</span>

								<br>
								<br>

								<table class="table table-bordered" style="word-break: break-all;">
									{% for attr in data.data.attributes.attribute %}
										<tr>
											<td style="width: 300px">{{ attr.name }}</td>
											<td>{{ attr.values|json_encode }}</td>
										</tr>
									{% endfor %}
								</table>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	{% set firstSeen = listing.firstSeen.timestamp %}
	{% set lastSeen = listing.lastSeen.timestamp %}


	<script>
		(function () {

			const ctx = document.getElementById('price-chart-js');

			const data = {
						datasets: [{
							data: [
								{% for data in listing.listingData %}
								{
									x: {{ data.createdAt.timestamp * 1000 }},
									y: {{ data.price }}
								},
								{% endfor %}
							]
						}],
					}
			;

			const config = {
				type: 'line',
				data: data,
				options: {
					maintainAspectRatio: false,
					scales: {
						x: {
							type: 'time',
							title: {
								display: true,
								text: 'Date'
							}
						},
						y: {
							title: {
								display: true,
								text: 'Preis €'
							}
						}
					},
					plugins: {
						legend: {display: false},
						title: {
							display: true,
							text: 'Preisverlauf'
						}
					}
				},
			};

			let myChart = new Chart(ctx, config);
		})();
	</script>



{% endblock %}