{% extends 'base.html.twig' %}

{% block content %}

	<a class="btn btn-outline-secondary" href="{{ path('dashboard') }}">Zurück</a>

	<h1>{{ listing.title }}</h1>

	<span class="badge bg-danger">{{ listing.priceMax|format_number }} € max</span>
	<span class="badge bg-success">{{ listing.priceMin|format_number }} € min</span>
	<span class="badge bg-secondary">{{ listing.area is null ? '?' : listing.area|format_number }} m²</span>
	<span class="badge bg-secondary">{{ listing.priceCurrent is null ? '?' : listing.priceCurrent|format_number }} € aktuell</span>
	<span class="badge bg-secondary">{{ (listing.area and listing.priceCurrent) ? (listing.priceCurrent/listing.area)|format_number({fraction_digit: 0}) : '?' }} €/m²</span>
	<span class="badge bg-secondary">First seen {{ listing.firstSeen|date('d.m.Y H:i:s') }}</span>
	<span class="badge bg-secondary">Last seen {{ listing.lastSeen|date('d.m.Y H:i:s') }}</span>

	<a class="btn btn-primary"
	   href="https://www.willhaben.at/iad/immobilien/d/haus-kaufen/steiermark/xxx-{{ listing.willhabenId }}/"
	   target="_blank">
		Willhaben öffnen
	</a>

	<div class="row">
		<div class="col">
			<h1>Fotos <a href="{{ path('fetch-images', {id: listing.id}) }}" class="btn btn-outline-primary btn-sm"><i class="fas fa-refresh"></i></a></h1>
			<div>
				{% for image in listing.currentListingData.images %}
					<img alt="{{ image }}" src="{{ asset('willhaben_images/'~image) }}" style="max-width: 100px" loading="lazy" />
				{% endfor %}
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-3">
			<canvas id="price-chart-js"></canvas>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div style="height: 400px">
				<canvas id="scatter-chart-js"></canvas>
			</div>
		</div>
	</div>


	<h1>Historische Daten</h1>
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-2">
					<div style="max-height: 90vh; overflow: scroll; position: sticky; top: 1em">
						<div class="nav flex-column nav-pills me-3" id="mytabs" role="tablist" aria-orientation="vertical" >
							{% for key, data in listing.listingData %}
								<button class="nav-link {{ key == 0 ? 'active' : '' }}" data-bs-toggle="pill" data-bs-target="#listings-tab-{{ key }}" type="button" role="tab">{{ data.createdAt|date }}</button>
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="col-10">
					<div class="tab-content" id="v-pills-tabContent">
						{% for key, data in listing.listingData %}
							<div class="tab-pane fade {{ key == 0 ? 'show active' : '' }}" id="listings-tab-{{ key }}" role="tabpanel">

								<span class="badge bg-secondary">{{ data.price|format_number }} €</span>
								<span class="badge bg-secondary">{{ data.rooms }} Zimmer</span>
								<span class="badge bg-secondary">{{ data.livingSize }} m² Wohnfläche</span>
								<span class="badge bg-secondary">{{ data.pricePerSqm|format_number }} €/m²</span>
								<span class="badge bg-secondary">{{ data.freeArea }} m² {{ data.freeAreaType }}</span>

								<br>
								<br>

								<table class="table table-bordered" style="word-break: break-all;">
									{% for attr in data.data.attributes.attribute %}
										<tr>
											<td style="width: 300px">{{ attr.name }}</td>
											<td>{{ attr.values|json_encode }}</td>
										</tr>
									{% endfor %}
								</table>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	{% set firstSeen = listing.firstSeen.timestamp %}
	{% set lastSeen = listing.lastSeen.timestamp %}

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
	<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>



	<script>
		(function () {

			const ctx = document.getElementById('price-chart-js');

			const data = {
						datasets: [{
							data: [
								{% for data in listing.listingData %}
								{
									x: {{ data.createdAt.timestamp * 1000 }},
									y: {{ data.price }}
								},
								{% endfor %}
							]
						}],
					}
			;

			const config = {
				type: 'line',
				data: data,
				options: {
					maintainAspectRatio: false,
					scales: {
						x: {
							type: 'time',
							title: {
								display: true,
								text: 'Date'
							}
						},
						y: {
							title: {
								display: true,
								text: 'Preis €'
							}
						}
					},
					plugins: {
						legend: {display: false},
						title: {
							display: true,
							text: 'Preisverlauf'
						}
					}
				},
			};

			let myChart = new Chart(ctx, config);
		})();
	</script>


	<script>
		const ctx = document.getElementById('scatter-chart-js');

		const data = {
			datasets: [
				{
					label: '{{ listing.title|slice(0,15)~'...' }}',
					data: [
						{
							x: {{ listing.area }},
							y: {{ listing.priceCurrent }},
						},
					],
					borderWidth: 1,
					pointStyle: 'rectRot',
					pointRadius: 10,
				},
				{% for key, series in scatterData %}
				{
					label: '{{ key }}',
					data: [
						{% for data in series %}
						{
							x: {{ data.area }},
							y: {{ data.price }},
							customData: {id: {{ data.id }} }
						},
						{% endfor %}
					],
				},
				{% endfor %}
			],
		};

		const config = {
			type: 'scatter',
			data: data,
			options: {
				maintainAspectRatio: false,
				scales: {
					x: {
						title: 'Fläche m²',
						type: 'linear',
						position: 'bottom',
						min: 90,
					},
					y: {
						title: 'Preis €',
						min: 0,
					}
				},
				plugins: {
					legend: {position:'bottom'},
					zoom: {
						zoom: {
							wheel: {
								enabled: true,
							},
							pinch: {
								enabled: true
							},
							mode: 'xy',
							limits: {
								y: {min: 0, max: 1000000},
							},
						}
					},
					title: {
						display: true,
						text: 'Scatter Positionierung'
					}
				}
			}
		};

		let myChart = new Chart(ctx, config);
		// override only the first dataset colors https://stackoverflow.com/a/28431142/2424814
		myChart.data.datasets[0].backgroundColor = "rgba(255,0,0,0.79)";
		myChart.data.datasets[0].borderColor = "rgba(0,0,0,1)";
		myChart.update();

		ctx.onclick = openListing;

		function openListing(evt) {
			const points = myChart.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);

			if (points.length) {
				const firstPoint = points[0];
				const value = myChart.data.datasets[firstPoint.datasetIndex].data[firstPoint.index];

				window.open('{{ url('details', {id: 'xxx'}) }}'.replace('xxx', value.customData.id), '_blank').focus();
			}
		}

	</script>

{% endblock %}